In [48]:
import pandas as pd
import numpy as np

In [49]:
fa21_df = pd.read_csv('Grade Distribution 2021-03 (Fall 2021).csv')
sp22_df = pd.read_csv('Grade Distribution 2022-01 (Spring 2022).csv')
su22_df = pd.read_csv('Grade Distribution 2022-02 (Summer 2022).csv')

In [50]:
fa21_df.head()

,TERM,SUBJECT,CATALOG NBR,CLASS SECTION,COURSE DESCR,INSTR LAST NAME,INSTR FIRST NAME,A,B,C,D,F,SATISFACTORY,UNSATISFACTORY,NOT REPORTED,TOTAL DROPPED,AVG GPA
0,Fall 2021,ARCH,4510,21,Integrated Arch Solutions,Martinez,Amna Ansari,8,2,0,0,0,0,0,0,0,3.569
1,Fall 2021,BIOL,2101,31,Anatomy & Physiology Lab I,Gill,Tejendra,4,8,8,2,0,0,0,0,1,2.606
2,Fall 2021,BIOE,4319,2,Mass Transport Biosystems,Majd,Sheereen,3,2,1,0,0,0,0,0,0,3.388
3,Fall 2021,MATH,6398,7,Special Problems,Blecher,David P,0,0,0,0,0,3,0,0,0,0.000
4,Fall 2021,ECE,8498,4,Doctoral Research,Chen,Ji,0,0,0,0,0,1,0,0,0,0.000

In [52]:
fa21_df[(fa21_df['SUBJECT']=='COSC') | (fa21_df['SUBJECT']=='MATH')]

,TERM,SUBJECT,CATALOG NBR,CLASS SECTION,COURSE DESCR,INSTR LAST NAME,INSTR FIRST NAME,A,B,C,D,F,SATISFACTORY,UNSATISFACTORY,NOT REPORTED,TOTAL DROPPED,AVG GPA
3,Fall 2021,MATH,6398,7,Special Problems,Blecher,David P,0,0,0,0,0,3,0,0,0,0.000
13,Fall 2021,MATH,3338,5,Probability,Kao,Edward P,10,15,0,0,1,0,0,0,10,3.142
14,Fall 2021,MATH,3339,4,Statistics for the Sciences,Wang,Wenshuang,129,43,20,28,22,0,0,0,13,2.924
57,Fall 2021,MATH,2415,21,Calculus III,West,James David,15,33,26,15,57,0,0,0,56,1.539
83,Fall 2021,COSC,4351,2,Fundamentals of Software Engr,Singh,Raj Kumar,70,8,2,1,2,0,0,0,1,3.651
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6935,Fall 2021,MATH,1314,5,College Algebra,Xhabli,Blerina,74,48,35,24,90,0,0,0,53,1.949
6938,Fall 2021,MATH,1300,6,Fundamentals of Mathematics,Chang,James A,0,0,0,0,0,35,39,0,2,0.000
7007,Fall 2021,MATH,2414,1,Calculus II,Xhabli,Blerina,64,39,35,20,50,0,0,0,53,2.196
7058,Fall 2021,MATH,8398,2,Doctoral Research,Climenhaga,Vaughn,0,0,0,0,0,2,0,0,0,0.000
7082,Fall 2021,MATH,1332,1,Elem Mathematical Modeling,Hafeez,Shahinda,26,31,18,17,48,0,0,0,20,1.757

In [54]:
fa21_df = fa21_df[(fa21_df['SUBJECT']=='COSC') | (fa21_df['SUBJECT']=='MATH')]
sp22_df = sp22_df[(sp22_df['SUBJECT']=='COSC') | (sp22_df['SUBJECT']=='MATH')]
su22_df = su22_df[(su22_df['SUBJECT']=='COSC') | (su22_df['SUBJECT']=='MATH')]

In [56]:
fa21_df['CATALOG NBR'].loc[fa21_df['SUBJECT']=='COSC'].value_counts()

8998    19
8398    16
8698     9
8399     6
6398     5
1336     5
2436     4
4398     3
8699     3
2425     3
1437     3
4399     2
6399     2
3380     2
4353     2
4397     2
4351     2
3360     2
3340     2
3320     2
3399     2
6353     2
8198     1
2306     1
3396     1
6370     1
7399     1
6110     1
6344     1
4498     1
3337     1
6376     1
6324     1
6306     1
4372     1
6358     1
4358     1
6345     1
6309     1
4198     1
7199     1
6360     1
6380     1
6347     1
6355     1
4377     1
6365     1
4370     1
6320     1
6321     1
6342     1
4393     1
4324     1
4315     1
6698     1
6308     1
4311     1
6310     1
4355     1
4337     1
Name: CATALOG NBR, dtype: int64

In [59]:
fa21_df.to_csv('Edited Grade Distribution 2021-03 (Fall 2021).csv')
sp22_df.to_csv('Edited Grade Distribution 2022-01 (Spring 2022).csv')
su22_df.to_csv('Edited Grade Distribution 2022-02 (Summer 2022).csv')

In [60]:
courses = pd.read_csv('41.csv')

In [61]:
courses.head()

,catoid,catalog_title,classification,page_number,coid,course_title
0,41,2021-2022 Undergraduate Catalog,undergraduate,1,193244,ACCT 2301 - Principles of Financial Accounting
1,41,2021-2022 Undergraduate Catalog,undergraduate,1,193245,ACCT 2302 - Principles of Managerial Accounting
2,41,2021-2022 Undergraduate Catalog,undergraduate,1,193246,ACCT 3377 - Cost Accounting
3,41,2021-2022 Undergraduate Catalog,undergraduate,1,193247,ACCT 3366 - Financial Reporting Frameworks
4,41,2021-2022 Undergraduate Catalog,undergraduate,1,193248,ACCT 3367 - Intermediate Accounting I

In [66]:
courses[(courses['course_title'].str[0:4] == 'MATH') | (courses['course_title'].str[0:4] == 'COSC')].to_csv('courses.csv')

In [73]:
fa21_df[fa21_df['SUBJECT']=='COSC']['COURSE DESCR'].value_counts()

Doctoral Research                 45
Doctoral Dissertation              9
Special Problems                   6
Computer Science & Program         5
Independent Study                  5
Programming and Data Structure     4
Senior Honors Thesis               4
Software Design                    4
Introduction to Programming        3
Computer Org & Architecture        3
Masters Thesis                     3
Operating Systems                  3
Fundamentals of Software Engr      2
Fundamental of Medical Imaging     2
Design File and Database Syst      2
Intro. to Automata and Comp.       2
Sel Top-Computer Science           2
Digital Image Processing           2
Algorithms and Data Structures     2
Data Structures                    1
Visualization                      1
Rndmzd Algo Prob Tchnqs Cmptng     1
Programming Languages              1
Cloud Computing                    1
Intro to Interactive Game Dev.     1
Interactive Game Development       1
Intro Automata & Computability     1
Data Science I                     1
Data Programming                   1
Graduate Colloquium                1
Senior Research Project            1
Machine Learning                   1
Thesis                             1
Intro to Ubiquitous Computing      1
Fundamentals of Operating Syst     1
Computer Scientists & Society      1
Computer Architecture              1
Programming Languages and Para     1
Entrepreneurship for CS            1
Research Methods in COSC           1
Data Structures & Algorithms       1
Interactive Computer Graphics      1
Intro High-Performance Comput      1
Intro To Computer Networks         1
Ubiquitous Computing               1
Foundations of Security            1
Data Science II                    1
Name: COURSE DESCR, dtype: int64

In [74]:
sp22_df[sp22_df['SUBJECT']=='COSC']['COURSE DESCR'].value_counts()

Doctoral Research                 46
Doctoral Dissertation             12
Computer Science & Program         5
Masters Thesis                     5
Independent Study                  4
Computer Org & Architecture        4
Software Design                    4
Special Problems                   3
Introduction to Programming        3
Programming and Data Structure     3
Database Systems                   2
Digital Image Processing           2
Operating Systems                  2
Senior Research Project            2
Intermediate Game Development      2
Sel Top-Computer Science           2
Software Development Practices     2
Senior Honors Thesis               2
Computer Architecture              2
Intro Game Art and Animation       2
Statistical Method in Research     2
Fundamentals of Operating Syst     1
Interactive Computer Graphics      1
Data Science I                     1
Artificial Intelligence            1
Intro. to Automata and Comp.       1
Graduate Colloquium                1
Data Programming                   1
Advanced Machine Learning          1
Fundamentals of Software Engr      1
Prgrm Analys & Testing             1
Big Data Analytics                 1
Real-Time Syst & Embedded Prog     1
Cybersecurity                      1
Topics Computer Science            1
Parallel Computations              1
Data Structures                    1
Computer Vision                    1
Computer Graphics                  1
Adv Numerical Analysis             1
Numerical Methods                  1
Computer Networks                  1
Algorithms and Data Structures     1
Real-Time Systems                  1
Intro Automata & Computability     1
Advanced NLP                       1
Data Science II                    1
Name: COURSE DESCR, dtype: int64

In [76]:
su22_df[su22_df['SUBJECT']=='COSC']['COURSE DESCR'].value_counts()

Doctoral Research                 20
Doctoral Dissertation              4
Special Problems                   3
Software Design                    2
Operating Systems                  1
Algorithms and Data Structures     1
Senior Honors Thesis               1
Intro. to Automata and Comp.       1
Artificial Intelligence            1
Data Science I                     1
Intro Automata & Computability     1
Programming and Data Structure     1
Fundamentals of Software Engr      1
Introduction to Programming        1
Intro To Computer Networks         1
Independent Study                  1
Database Systems                   1
Name: COURSE DESCR, dtype: int64

In [78]:
fa21_df[fa21_df['SUBJECT']=='COSC']['CATALOG NBR'].unique()

array(['4351', '4324', '1437', '2436', '3399', '3320', '8399', '1336',
       '6380', '6347', '6355', '4377', '8998', '8398', '6365', '4370',
       '3340', '6398', '8699', '3360', '6320', '4353', '3380', '6321',
       '6399', '8698', '6342', '4393', '4398', '4399', '4198', '4315',
       '6698', '2425', '6308', '4311', '6310', '4355', '6360', '7199',
       '4397', '6353', '3396', '6370', '7399', '6110', '4498', '2306',
       '3337', '4372', '6358', '6376', '6344', '6306', '6324', '8198',
       '6345', '4358', '6309', '4337'], dtype=object)

In [79]:
sp22_df[sp22_df['SUBJECT']=='COSC']['CATALOG NBR'].unique()

array(['4399', '3360', '8998', '8398', '6308', '6386', '1437', '8699',
       '4370', '3371', '2425', '6306', '6323', '6348', '8399', '6384',
       '4398', '6309', '6374', '7399', '8698', '6310', '4354', '7336',
       '4348', '4397', '3396', '8298', '6353', '3320', '4353', '6385',
       '6377', '4364', '6364', '6372', '6373', '6354', '4393', '2436',
       '1336', '6397', '8598', '6398', '4331', '6339', '6380', '4298',
       '3380', '4351', '7362', '2306', '6110', '3340', '4368', '6399',
       '3337', '4359', '6359', '4396', '4337'], dtype=object)

In [ ]:
sp22_df[sp22_df['SUBJECT']=='COSC']['CATALOG NBR'].unique()